<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996314743999-bbjum4ht8709o2dl9orqj8j0jdkblaki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996314743999-bbjum4ht8709o2dl9orqj8j0jdkblaki</string>
	<key>API_KEY</key>
	<string>AIzaSyCO_LOtnoM3OXFMCN177CJIJAKFuDytNs4</string>
	<key>GCM_SENDER_ID</key>
	<string>996314743999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>network.voi.hera</string>
	<key>PROJECT_ID</key>
	<string>hera-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>hera-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996314743999:ios:a75cd4af35c1570a01f20a</string>
</dict>
</plist>